.App {
  text-align: center;
}

.form-page {
  border: 1px solid lightgray
}

.forms-container {
  white-space: nowrap;
  display: -webkit-inline-box;
  margin-left: auto;
  margin-right: auto;
}

.input-form,
.output-form {
  width: 400px;
  padding: 10px;
}

.textfield-container {
  padding-bottom: 20px;
}

h3, .textfield-container {
  text-align: left;
  margin-left: 30px;
}

h5 {
  padding-bottom: 10px;
  font-size: 15px;
  text-align: left;
  margin-left: 30px;
  font-weight: lighter;
}
